{% extends 'base.html' %}

{% block content %}
    <div class="row mb-2">
        <div class="col-12 text-center border-bottom border-light">
            <h1 class="text-light">Labs</h1>
        </div>
    </div>

    <div class="row px-2">
        <div class="col-3 text-center">
            <h3 class="text-dark"></h3>
        </div>

        <div class="col-3 bg-light text-center rounded-top border-light border-left border-right">
            <h3 class="text-dark">Development</h3>
        </div>

        <div class="col-3 bg-light text-center rounded-top border-light border-left border-right">
            <h3 class="text-dark">Photography</h3>
        </div>

        <div class="col-3 text-center">
            <h3 class="text-dark"></h3>
        </div>
    </div>

    <div class="row px-2">
        
        <div class="col-3 text-center">
            <h2 class="text-light"></h2>
        </div>

        <div class="col-3 text-center rounded-bottom border-light border-bottom border-left border-right">
            <p class="text-light">Explore SnowSong and contributor development projects.</p>
        </div>

        <div class="col-3 text-center rounded-bottom border-light border-bottom border-left border-right">
            <p class="text-light">SnowSong's original photo collection.</p>
        </div>

    </div>

{% endblock %}